
.menu{
    line-height:30px;
    width:120px;
    float:left;
    padding:5px;
}

.footer{
    clear:both;
    text-align:left;
    padding:10px;
}

.error{
    border: 1px solid;
    margin: 3px 0;
    padding:3px 3px 3px 3px;
}


.man {
    color: #D8000C;
    font-weight: bold;
}

.banner {
    background: url("../images/banner-green.png") no-repeat 0 center;
    height: 90px;
}

a:link {
    color: #228B22;
    text-decoration: underline;
    font-size: 14px;
    background: transparent;
}

a:hover {
    color: #0000FF;
    text-decoration: underline;
    font-size: 16px;
    background: transparent;
}

.content {
    background-color: #D8F6CE;
    float: left;
    padding: 10px;
}

.footer p {
    color: #228B22;
    font-size: 12px;
    font-style: italic;
}

ul {
    list-style-image: url("../images/arrow-green.png");
    background: no-repeat 0 center;
    padding-left: 30px;
}
